:css
  .langAuto {
    border: 1px solid #000000;
    width: 200px;
    background: #CBF5F3;
    margin-top: -1px;
    cursor: pointer;
    padding-left: 10px;
  }

  #autoComplete {
    list-style-type: none;
    margin-left: -38px;
    margin-top: -2px;
  }
:javascript
  $( function(){
        $('#sheet_language').keypress(keyprss);
    });
  

  function keyprss(evt){
    $.ajax('/languages/search.json',
    {
      data :{ 
        search : evt.target.value + String.fromCharCode(evt.keyCode)
      },
      success: updateToolTip
    })
  }


  function updateToolTip(json){
    txt = '<li class="langAuto">' + json.join('</li><li class="langAuto">') + '</li>'
    $('#tooltip').html('<ul id="autoComplete">'+txt+'</ul>');
    $(".langAuto").click(function() {
      $("#sheet_language").val(this.innerText);
    });
    $(".langAuto").hover(function() {
      $(this).css("backgroundColor", "#A3D6F7");
    }, function() {
      $(this).css("backgroundColor", "#CBF5F3");
    });
  }

= form_for(@sheet) do |f|
  - if @sheet.errors.any?
    #error_explanation
      %h2  #{pluralize(@sheet.errors.count, "error")}  prohibited this sheet from being saved:
      <ul>
      - @sheet.errors.full_messages.each do |msg|
        %li= msg

  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    = f.label :language #TODO: railscasts episode 258
    %br
    = f.text_field :language, :autocomplete => :off
    #tooltip
  .field
    = f.label :content
    %br
    = f.text_area :content
  .field
    = f.check_box :is_markdown
    = f.label :is_markdown, 'markdown?'
  .actions
    = f.submit
