:javascript
  $( function(){
        $('#sheet_language').keypress(keyprss);
    });

  function keyprss(evt){
    $.ajax('/languages/search.json',
    {
      data :{ 
        search : evt.target.value + String.fromCharCode(evt.keyCode)
      },
      success: updateToolTip
    })
  }


  function updateToolTip(json){
    txt = '<li>' + json.join('</li><li>') + '</li>'
    $('#tooltip').html('<ul>'+txt+'</ul>');
  }

#tooltip
= form_for(@sheet) do |f|
  - if @sheet.errors.any?
    #error_explanation
      %h2  #{pluralize(@sheet.errors.count, "error")}  prohibited this sheet from being saved:
      <ul>
      - @sheet.errors.full_messages.each do |msg|
        %li= msg

  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    = f.label :language #TODO: railscasts episode 258
    %br
    = f.text_field :language
  .field
    = f.label :content
    %br
    = f.text_area :content
  .field
    = f.check_box :is_markdown
    = f.label :is_markdown, 'markdown?'
  .actions
    = f.submit
