<h1><%= @sheet.title %></h1>

<% if @sheet.is_markdown? %>
  <%= RDiscount.new(@sheet.content).to_html.html_safe %>
<% else %>
  <%= @sheet.content.html_safe %>
<% end %>


<%= link_to 'Edit', edit_sheet_path(@sheet) %> |
<%= link_to 'Back', sheets_path %>
